/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow Condensed", sans-serif;
  height: 100vh;

  @apply bg-black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background {
  background-image: url("/home/background-home-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // opacity: 0.25;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  position: fixed;
  mix-blend-mode: screen;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: url("/home/background-home-tablet.jpg");
  }
  @media screen and (max-width: 767px) {
    background-image: url("/home/background-home-mobile.jpg");
  }
}

.background--destination:before {
  content: "";
  background-image: url("/destination/background-destination-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  position: fixed;
  transform: rotate(180deg);
  mix-blend-mode: screen;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: url("/destination/background-destination-tablet.jpg");
  }
  @media screen and (max-width: 767px) {
    background-image: url("/destination/background-destination-mobile.jpg");
  }
}

.background--crew:before {
  content: "";
  background-image: url("/crew/background-crew-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // opacity: 0.25;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  position: fixed;
  mix-blend-mode: screen;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: url("/crew/background-crew-tablet.jpg");
  }
  @media screen and (max-width: 767px) {
    background-image: url("/crew/background-crew-mobile.jpg");
  }
}

.background--technology:before {
  content: "";
  background-image: url("/technology/background-technology-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // opacity: 0.25;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  position: fixed;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    background-image: url("/technology/background-technology-tablet.jpg");
  }
  @media screen and (max-width: 767px) {
    background-image: url("/technology/background-technology-mobile.jpg");
  }
}

ul > li {
  color: white;

  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
}

.mantine-Drawer-drawer {
  background: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(25px);
}
